{%- for single_file in files -%}
{%- for key, value in single_file.items() -%}
{%- if (key == 'description') -%}
---
description: {%- if (value.desc is defined) %} {{value.desc}} {%- else %} {{value}} {% endif %}
---
{%- endif %}

{%- if (key == 'package') %}
# {{ file_info.title }}
{% endif -%}

{%- if (key == 'package') %}
>  **Package : {{value}}**
{% endif -%}

{%- if (key == 'services') -%}
{%- for service in value %}
## {{service.name}}

{% raw %}{% hint style="info" %}{% endraw %}
**{{ service.name }} Methods:**
{%- if (service.description.desc is defined) %}
{{service.description.desc}}
{%- else %}
{{ service.description }}
{%- endif %}
{% raw %}{%  endhint %}{% endraw %}

{% if service.methods is defined %}
| NO |  Method | Request Type | Response Type | Description |
| :--- | :--- | :--- | :--- | :--- |
{%- for method in service.methods %}
| {{ loop.index }} | [**{{ method.name }}**]({{file_info.full_name_lower}}#{{method.name}})|{% if method.requestStreaming == true %} **`stream`** {% endif %} {% if method.req_link is defined %}  [{{ method.requestLongType }}]({{method.req_link}}) {% elif method.requestFullType_link is defined %}[{{ method.requestFullType }}]({{method.requestFullType_link}}){% else %}{{ method.requestLongType }}{% endif %}|{% if method.responseStreaming == true %} **`stream`** {%- endif %}  {% if method.res_link is defined %} [{{ method.responseLongType }}]({{method.res_link}}) {% elif method.responseFullType_link is defined %}[{{ method.responseFullType }}]({{method.responseFullType_link}}){% else %}{{ method.responseLongType }}{% endif %}| {{ method.description.desc }} |
{%- endfor -%}
{%- for method in service.methods -%}

{{title_space}}
{{title_space}}

{{title_space}}
### {{ method.name }}

{%- if method.restAPI is defined -%}
{% for rest_api in method.restAPI %}
> **{{rest_api.method}}** {{rest_api.pattern}}
{% if( loop.index  == 1) -%}
>
{%- endif -%}
{%- endfor -%}
{%- endif %}

{% if method.description.desc is defined -%}
> {{ method.description.desc }}
{% else -%}
{% if method.description|length -%}
> {{ method.description }}
{% endif -%}
{% endif %}
| Type | Message |
| :--- | :--- |
| Request | [{{ method.requestType }}]{%- if (method.req_link is defined) %}({{method.req_link}}){%- endif %} |
| Response | {% if method.res_link is defined %} [{{ method.responseLongType }}]({{method.res_link}}) {% elif method.responseFullType_link is defined %}[{{ method.responseFullType }}]({{method.responseFullType_link}}){% else %}{{ method.responseLongType }}{% endif %} |
{% if ((method.description.request_example is defined) or (method.description.response_example is defined)) -%}
{% raw %}{% tabs %}{% endraw -%}
{%- if (method.description.request_example is defined) %}
{% raw %}{% tab title="Request Example" %}{% endraw %}
```text
{{ method.description.request_example }}
```
{% raw %}{% endtab %}{% endraw %}
{% endif -%}
{% if (method.description.response_example is defined) %}
{% raw %}{% tab title="Response Example" %}{% endraw %}
```text
{{ method.description.response_example }}
```
{% raw %}{% endtab %}{% endraw %}
{% endif -%}
{% raw %}{% endtabs %}{% endraw %}
{% endif -%}
{% endfor -%}
{% endif %}
{% endfor %}
{% endif %}

{%- endfor -%}
{%- endfor -%}

{%- for single_file in files -%}
{%- for key, value in single_file.items() -%}

{%- if (key == 'messages' and single_file.messages|length) -%}
##{{title_space}}

## Message
{% for message in value %}
### {{message.name}}
{%- if message.is_table is defined %}
<table>
  <thead>
    <tr>
      <th style="text-align:left">No</th>
      <th style="text-align:left">Field</th>
      <th style="text-align:left">Type</th>
      {% if message.no_requires is not defined -%}
      <th style="text-align:center">Required</th>
      {% endif -%}
      <th style="text-align:left">Description</th>
    </tr>
  </thead>
  <tbody>
{%- for field in message.fields %}
    <tr>
      <td style="text-align:left">{{ loop.index }}</td>
      <td style="text-align:left">{{field.name}}</td>
      <td style="text-align:left">{% if field.enum_links|length -%}
        <ul>
        {%- for enum in field.enum_links %}
          	<li>{{enum.name}}</li>
		{%- endfor %}
        </ul>
{%- elif (field.fullType_link is defined) -%}<a href="{{field.fullType_link}}">{%- if (field.label|length and field.label == 'repeated') %}list of {{field.longType}}{%- else %}{{field.longType}}{% endif %}</a>{%- else %}{%- if (field.label|length and field.label == 'repeated') %}list of {{field.longType}}{%- else %}{{field.longType}}{% endif %}{% endif %}</td>
{% if (field.description.is_required is defined and message.no_requires is not defined) -%}
        <td style="text-align:center">{{field.description.is_required}}</td>
{% endif -%}
{%- if (field.description.desc is defined) -%}
        <td style="text-align:left">{{field.description.desc}}</td>
{%- else -%}
        <td style="text-align:left">{{field.description}}</td>
{% endif %}
   </tr>
{%- endfor %}
  </tbody>
</table>


{% else %}
{%- if (message.no_requires is defined) %}
| No | Field | Type |  Description |
| :--- | :--- | :--- | :--- |
{%- for field in message.fields %}
| {{ loop.index }} | {{field.name}} |{%- if (field.fullType_link is defined) %}[{%- if (field.label|length and field.label == 'repeated') %}list of {{field.longType}}{%- else %}{{field.longType}}{% endif %}]{%- else %}{%- if (field.label|length and field.label == 'repeated') %}list of {{field.longType}}{%- else %}{{field.longType}}{% endif %}{% endif %}{%- if (field.fullType_link is defined) %}({{field.fullType_link}}){% endif %} | {{field.description.desc}}|
{%- endfor %}
{% else %}
| No | Field | Type | Required | Description |
| :--- | :--- | :--- | :---: | :--- |
{%- for field in message.fields %}
| {{ loop.index }} | {{field.name}} |{%- if (field.fullType_link is defined) %}[{%- if (field.label|length and field.label == 'repeated') %}list of {{field.longType}}{%- else %}{{field.longType}}{% endif %}]{%- else %}{%- if (field.label|length and field.label == 'repeated') %}list of {{field.longType}}{%- else %}{{field.longType}}{% endif %}{% endif %}{%- if (field.fullType_link is defined) %}({{field.fullType_link}}){% endif %}| {%- if (field.description.is_required is defined) -%}{{field.description.is_required}}{% endif %}| {{field.description.desc}}|
{%- endfor %}
{% endif -%}
{% endif -%}

{% endfor -%}
{% endif %}

{%- endfor -%}
{%- endfor -%}