# Table of contents

{% for format in toc -%}
{{format.title}} {%- if (format.url is defined) %}({{format.url}}){% endif %}
{% endfor %}

{% if managed_link is defined -%}
## Reference Link

{% for key, value in managed_link.items() -%}
* [{{key}}]({{value}})
{% endfor -%}
{% endif %}
{% if ((history.added_history is defined) or (history.origin_history is defined)) -%}
## Previous Versions

{% if (history.added_history is defined) -%}
{% for added_line in history.added_history -%}
{{added_line}}
{% endfor -%}
{% endif -%}

{% if (history.origin_history is defined) %}
{% for origin_line in history.origin_history -%}
{{origin_line}}
{% endfor -%}
{% endif %}

{% endif %}